#--------------------------------------------------------------------
# Example Environment Configuration
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

app.baseURL = 'http://localhost/'

database.default.hostname = db
database.default.database = shorturl
database.default.username = root
database.default.password = 123456
database.default.DBDriver = MySQLi
