#--------------------------------------------------------------------
# Example Environment Configuration
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

app.baseURL = 'http://localhost/'

APP_PORT = 8080

database.default.hostname = db
database.default.database = shorturl
database.default.username = shorturl
database.default.password = 123456
database.default.DBDriver = MySQLi

MYSQL_DATABASE = shorturl
MYSQL_USER = shorturl
MYSQL_PASSWORD = 123456
MYSQL_ROOT_PASSWORD = 123456
