#datatable_overlay, .datatable_overlay {
    height: 82.6%;
    width: 88.6%;
    position: absolute;
    z-index: 100;
    background-color: rgb(144 144 144);
    color: white;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.8;
    display: none;
    border-radius: 5px;
}